<html>
<head>
  <title>stock++</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
  <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
</head>
<body>
  {% for detail in details %}
  <div class="container">
    <p>
      clf:{{detail.clf_name}}
    </p>
    <ul>
      {% for i in detail.result %}
      <li>
        {{i}}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</body>
</html>
